// .weui-uploader__overview, 
.weui-uploader__bd, 
.weui-uploader__files {
    display: flex;
    flex-direction: row; 
}
.weui-uploader__input__before {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 2px;
    height: 32px;
    background-color: #6d6d6d;
}
.weui-uploader__input__after {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 32px;
    height: 2px;
    background-color: #6d6d6d;
}
